<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>template register</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <style>
    .button {
      border: none;
      border-radius: 4px;
      color: white;
      padding: 8px 16px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 14px;
      margin: 4px 2px;
      transition-duration: 0.4s;
      cursor: pointer;
    }
    .button2 {
      background-color: white; 
      color: #008CBA; 
      border: 2px solid #008CBA;
    }
    
    .button2:hover {
      background-color: #008CBA;
      color: white;
    }
    
    </style>
</head>
<body style="margin: 0; padding: 0;">
    <table align="center" style="border: 1px solid #cccccc;" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
        <tr>
            <td align="center" bgcolor="#70bbd9" style="padding: 10px 0 0 0;" >
                <img src="cid:g1" alt="" width="125" height="60" style="display: block;" />
             </td>
        </tr>
        <tr>
            <td bgcolor="#ffffff" style="padding: 40px 30px 40px 30px;">
                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                        <td style="color: #153643; font-family: Arial, sans-serif; font-size: 24px;">
                            <b>Complate Your Order</b>
                        </td>
                    </tr>
                    <tr>
                     <td style="padding: 20px 0 30px 0; font-family: Arial, sans-serif; font-size: 14px; color: #979696;">
                      Hello {{name}}
                     <p font-color="#979696">please immediately make payment for your order </br>
                      you can chose the payment method bellow to complate your order</p>
        
                     </td>
                    </tr>
                    <tr>
                        <td>
                            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="margin-top: 50px;">
                                <tr>
                                    <td bgcolor="#FF234F" height="30px" width="5px">
                                    </td>
                                    <td style=" padding: 5px; font-family: Arial, sans-serif; font-size: 16px; color: #FF234F;">
                                    <b>PAID</b> 
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table border="0" bgcolor="#E0FEFF" style="width: 100%; margin-top: 50px; margin-bottom: 30px; border-top: 3px solid  #008CBA;">
                                <tr>
                                    <td width="540" valign="center" style="font-family: Arial, sans-serif; font-size: 14px;padding: 5px; color: #979696;">
                                    Detail Invoice</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table border="0" cellpadding="0" cellspacing="0" width="100%" bgcolor="#ffffff"  style="font-family: Arial, sans-serif; font-size: 14px; margin-bottom: 20px;">
                                <tr>
                                    <td width="260" valign="center" style="padding: 5px;">
                                        <p style="color: #979696;">Item</p>
                                    </td>
                                 <td style="font-size: 0; line-height: 0;" width="20">
                                  &nbsp;
                                 </td>
                                 <td width="260" valign="center"">
                                     <p style="color: #008CBA;">{{item}}</p> 
                                 </td>
                                </tr>
                                <tr>
                                    <td width="260" valign="center" style="padding: 5px;">
                                        <p style="color: #979696;">Jasa</p>
                                    </td>
                                 <td style="font-size: 0; line-height: 0;" width="20">
                                  &nbsp;
                                 </td>
                                 <td width="260" valign="center"">
                                     <p style="color: #008CBA;">{{jasa}}</p> 
                                 </td>
                                </tr>
                                <tr>
                                    <td width="260" valign="center" style="padding: 5px;">
                                        <p style="color: #979696;">Price</p>
                                    </td>
                                 <td style="font-size: 0; line-height: 0;" width="20">
                                  &nbsp;
                                 </td>
                                 <td width="260" valign="center"">
                                     <p style="color: #008CBA;">{{price}}</p> 
                                 </td>
                                </tr>
                                <tr>
                                    <td width="260" valign="center" style="padding: 5px;">
                                        <p style="color: #979696;">Discount</p>
                                    </td>
                                    <td style="font-size: 0; line-height: 0;" width="20">
                                     &nbsp;
                                    </td>
                                    <td width="260" valign="center">
                                        <p style="color: #008CBA;">0%</p> 
                                    </td>
                                   </tr>
                               </table>
                        </td>
                    </tr> 
                    <tr>
                        <td>
                            <table  cellpadding="0" cellspacing="0" width="100%" height="30px" style="font-family: Arial, sans-serif; font-size: 14px; border: 1px solid #70bbd9; margin-bottom: 30px;">
                                <tr>
                                 <td width="260" style="padding: 0 0 0 8px;">
                                    <p style="color:rgb(36, 35, 35)">Total</p>  
                                 </td>
                                 <td bgcolor="#70bbd9" style="padding: 0 8px 0 8px;">
                                  <p style="color:white">Rp.{{price}} </p> 
                                 </td>
                                </tr>
                               </table>
                        </td>
                    </tr> 
                    <tr>
                     <td>
                     </br></br>
                     <p style="color:#008CBA;">Payment Method</p></br>
                        <table border="0" cellpadding="0" cellspacing="0" width="100%" bgcolor="#F9F9F9"  style="font-family: Arial, sans-serif; font-size: 14px;">
                            <tr>
                             <td width="260" valign="center" style="padding: 5px;">
                                <img src="cid:bni" alt="" width="90"  style="display: block;" />
                             </td>
                             <td style="font-size: 0; line-height: 0;" width="20">
                              &nbsp;
                             </td>
                             <td width="260" valign="center" style="font-family: Arial, sans-serif; font-size: 14px;">
                              <p style="color: #979696;"><b>Bank BNI </b></br>1747572937584</p> 
                             </td>
                            </tr>
                            <tr>
                                <td width="260" valign="center" style="padding: 5px;">
                                    <img src="cid:mandiri" alt="" width="130"  style="display: block;" />
                                </td>
                                <td style="font-size: 0; line-height: 0;" width="20">
                                 &nbsp;
                                </td>
                                <td width="260" valign="top" style="font-family: Arial, sans-serif; font-size: 14px;">
                                    <p style="color: #979696;"><b>Bank Mandiri </b></br>90986363 </br>a/n Irfan Kurniawan</p> 
                                </td>
                               </tr>
                               <tr>
                                <td width="260" valign="center" style="padding: 5px;">
                                    <img src="cid:dana" alt="" width="100" style="display: block;" />
                                </td>
                                <td style="font-size: 0; line-height: 0;" width="20">
                                 &nbsp;
                                </td>
                                <td width="260" valign="center" style="font-family: Arial, sans-serif; font-size: 14px;">
                                <p style="color: #979696;">0897635286 </br>a/n Darkyasha</p> 
                                </td>
                               </tr>
                               <tr>
                                <td width="260" valign="center" style="padding: 5px;">
                                    <img src="cid:gopay" alt="" width="115" style="display: block;" />
                                </td>
                                <td style="font-size: 0; line-height: 0;" width="20">
                                 &nbsp;
                                </td>
                                <td width="260" valign="top" style="font-family: Arial, sans-serif; font-size: 14px;">
                                    <p style="color: #979696;">0878346526</br> a/n Irfan kurniawan</p>
                                </td>
                               </tr>
                           </table>
                     </td>
                    </tr>
                   </table>
               </td>
        </tr>

        <tr>
            <td align="center">
               &nbsp;
            </td>
        </tr>
        <tr>
            <td bgcolor="#70bbd9" style="padding: 10px 0 5px 0;" >
                <table border="0" cellpadding="0" cellspacing="0" align="center">
                    <tr>
                        <td align="center" style="color: #ffffff; font-family: Arial, sans-serif; font-size: 14px;">
                            <p align="center">&reg; Darkyasha, Tokyo 2020<br/>
                            <a href="#" style="color: #ffffff;"><font color="#ffffff">Unsubscribe</font></a> to this newsletter instantly</p>
                         </td>
                    </tr>
                </table>
             </td>
         </tr>
    </table>
   </body>
</html>